@import url('https://fonts.cdnfonts.com/css/karmella');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/mergian');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --gilB: 'Gilroy-Bold', sans-serif;
  --gilH: 'Gilroy-Heavy', sans-serif;
  --gilLight: 'gilroy-Light', sans-serif;
  --gilR: 'gilroy-Regular', sans-serif;
  --gilM: 'gilroy-Medium', sans-serif;
  --karmella: 'Karmella', sans-serif;
  --mergian: 'Mergian Regular', sans-serif;
  --white: #eff1f3;
  --primary: #eff1f380;
  --darkBlue: #0d1321;
  --lightBlue: #0d132199;
  --yellow: #ffeb33;
  --orange: #c5832b;
  --smooth: all 0.4s ease;
  --smooth-sm: all 0.2s ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: var(--gilM);
  font-size: 1rem;
  user-select: none;
}

.text-orange {
  color: var(--orange);
}

.text-dark {
  color: var(--darkBlue);
}

.text-light {
  color: var(--primary);
}

.text-yellow {
  color: var(--yellow);
}

.text-dWhite {
  color: var(--white);
}

.text-primary {
  color: var(--primary);
}

.stroke-white {
  stroke: white;
}



.navLinks {
  color: var(--primary);
  font-family: var(--gilM);
}

.navLinks:hover {
  color: var(--orange);
}

.text-field {
  height: 100%;
  background-color: var(--primary);
  color: var(--darkBlue);
  font-family: var(--gilM);
  display: flex;
  padding: 0 32px;
  font-size: 20px;
  outline: none;
  border: none;
}

.text-field::placeholder {
  color: var(--darkBlue);
}



.orange {
  background-color: var(--orange);
}

.yellow {
  background-color: var(--yellow);
}

.darkBlue {
  background-color: var(--darkBlue);
}

.transBlue {
  background-color: var(--lightBlue);
}

.white {
  background-color: var(--white);
}

.primary {
  background-color: var(--primary);
}


.border-dWhite {
  border: 2px solid var(--white);
}

.thin-dWhite {
  border: 1px solid var(--white);
}

.border-dark {
  border: 2px solid var(--darkBlue);
}

.thin-dark {
  border: 1px solid var(--darkBlue);
}



.gilB {
  font-family: var(--gilB);
}

.gilH {
  font-family: var(--gilH);
}

.gilLight {
  font-family: var(--gilLight);
}

.gilR {
  font-family: var(--gilR);
}

.gilM {
  font-family: var(--gilM);
}

.karmella {
  font-family: var(--karmella);
}

.mergian {
  font-family: var(--mergian);
}


.explore {
  border: 2px solid white;
}

.explore:hover .ico {
  transform: translateY(8px);
}

.smooth {
  transition: var(--smooth);
}



.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--white);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper {
  overflow-y: visible !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 48px !important;
  height: 48px !important;
  background-color: transparent;
  border-radius: 50px !important;
  border: 2px solid var(--darkBlue);
  top: -56px !important;
}

.swiper-button-prev {
  left: unset !important;
  right: 72px !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  z-index: 10;
  height: 28px !important;
}

.swiper-button-prev svg {
  transform: translateX(-2px);
}

.swiper-button-next svg {
  transform: translateX(2px);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none ;
}

.cardImg {
  background-size: cover;
  background-position: center center;
}


@keyframes float {
  0%, 100% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
}

@keyframes floatX {
  0%, 100% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
}

.float {
  animation: float 2s ease infinite;
}

.float-x {
  animation: floatX 2s ease infinite;
}



.fancyBtn {
  cursor: pointer;
  position: relative;
  background-color: var(--white);
  isolation: isolate;
}

.fancyBtn::before {
  content: "";
  position: absolute;
  background-color: var(--orange);
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  transition: right 0.2s ease;
  z-index: -1;
}

.fancyBtn:hover::before {
  right: 0;
}

.btThin {
  border-top: 1px solid var(--primary);
}



.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}